$--color-primary: #4ECCCF;
$--message-info-color: #fff; //字体颜色
$--message-background-color: #00bcd4; //背景色
// message
$--color-success-light: #4caf6f;
$--color-success-lighter: #61af7c;
$--message-success-color: #fff;

$--color-warning-light: #efb816;
$--color-warning-lighter: #ffc107;
$--message-warning-color: #fff;

$--color-danger-light: #da354b;
$--color-danger-lighter: #ef4f64;
$--message-danger-color: #fff;

$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
@import "./element-custom";
